* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	perspective: 1000px;
}

.container{
	width: 50%
	display: flex;
	justify-content: center;
	align-items: center;
}

.card{
	transform-style: preserve-3d;
	min-height: 80vh;
	width: 35rem;
	border-radius: 30px;
	padding: 0rem 5rem;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}	
.photo{
	min-height: 35vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.photo img{
	width: 9rem;
	z-index: 2;
	position: absolute;
}

.circle {
	width: 10rem;
	margin-left: 20%;
	height: 10rem;
	background: linear-gradient(
		to right,
		rgba(245,70,66,0.75),
		rgba(8, 83, 156, 0.75)
		);
	position: absolute;
	border-radius: 50%;
	z-index: 1;
}
.info h1{
	font-size: 3rem;
}
.info h2{
	font-size: 1.3rem;
	padding: 2rem 0rem;
	color: #585858;
	font-weight: lighter;
}

.description{
	text-align: center;
}
